{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <title>Invoices</title>
</head>
{% include 'navbar.html' %}
<br>
<br>
<br>
<body>
	<h1>List of Invoices:</h1>
	<form method='POST' action='' autocomplete="off"><br>
        {% csrf_token %}
    {{form|crispy}}
        <input type="submit" value='Search'/>
    </form>
    <table>
        <thead>
          <tr>
            <th>INVOICE NUMBER</th>
            <th>COMPANY NAME</th>
              <th>CUSTOMER NAME</th>
            <th>DATE CREATED</th>
              <th>INVOICE TYPE</th>
              <th>Payment Status</th>
            <th>TOTAL</th>
              <th>ACTION</th>
          </tr>
        </thead>
	{% for instance in queryset %}
        <tr>
	    <td>{{instance.invoice_number}}</td>
	    <td>{{instance.company_name}}</td>
            <td>{{instance.name}}</td>
	    <td>{{instance.invoice_date_created}}</td>
	    <td>{{instance.invoice_type}}</td>
            <td>{{ instance.paid }}</td>
	    <td>{{instance.total}}</td>
            <td><a class="btn btn-danger" type="submit" href="{% url 'delete_invoice' instance.id %}">Delete</a></td>
        </tr>
	{% endfor %}
    </table>


</body>
</html>